<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Copyright Policy")}</%block>

<html>
<head>
    <title></title>
    <style>
        p.big {
            line-height: 150%;
            text-align: justify;
        }
        h2.new_font {
            font-family: "Open Sans", Verdana, Geneva, sans-serif;
            text-align: center;
            color: #0075b4;
        }
    </style>
</head>
<body>
    <section class="container about" style="padding-left:100px; padding-right:100px;">
        <br>
        <h2 class="new_font">${_("HONOR CODE")}</h2><br>
        <h3>${_("COPYRIGHT POLICY")}</h3><br>
        <p class="big">
            All content or other materials available on the Sites, including but not limited to code, images, text, layouts, arrangements, displays, illustrations, audio and video clips, HTML files and other content,
            <b> except those open source materials or resources used under Creative Commons licenses </b> are the property of NCERTx or licensors and are protected by copyright.
            All rights in the Site and its content, if not expressly granted, are reserved by NCERTx.<br><br>

            Videos have either been embedded through Youtube or Permitted (under CC or other licensed) videos from other sites (Vimeo, Youtube, etc.) have been used. Such third party sites may have mechanisms to display other video thumbnails after playing our chosen video. NCERT is not responsible for the content being shown through those video players after our chosen content video has been played.<br><br>

            <b>Links to Other Websites</b><br><br>
            The Sites may include hyperlinks to sites maintained or controlled by others. NCERTx does not routinely screen, approve, review or endorse the contents of or use of any of the products or services that may be offered at these sites. These other websites are not under our control, and you acknowledge and agree that NCERTx is not responsible for the collection and use of your information by such websites.<br><br>

            Thus, NCERTx has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third-party websites. In addition, NCERT will not and cannot censor or edit the content of any third-party site. By visiting the link, you expressly relieve NCERTx from any and all liability arising from your use of any third-party website.
        </p>

        <br><br>
        <h3>${_("PRIVACY POLICY")}</h3><br>
        <p class="big">
            As a general rule, this website does not collect Personal Information about you when you visit the site. You can generally visit the site without revealing Personal Information, unless you choose to provide such information for enrollment in a course.<br><br>

            Privacy Policy covers all information we collect from you through our Site, including but not limited to personal Information, when you sign up for a user account, participate in online courses, register for the exam, send us email messages and/or participate in our public forums. Collection of certain usage information about student performance and patterns of learning might occur. This includes tracking information such as which pages of our Site were visited, the order in which they were visited, and when they were visited.<br><br>

            <b>Email and Contact number Management</b><br><br>
            Your email address and contact number will only be used to send a message. It will only be used for the purpose for which you have provided it and will not be added to a mailing list or SMS list. Your email address or contact number will not be used for any other purpose, and will not be disclosed, without your consent.
        </p>
    </section>
</body>
</html>
