<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />
<%namespace name='static' file='/static_content.html'/>
<%block name="pagetitle">${_("How To Enroll")}</%block>
<html><head>
<style>
p.big {
    line-height: 150%;
    text-align: justify;
}
h2.new_font
{
        font-family: "Open Sans", Verdana, Geneva, sans-serif, sans-serif;
        text-align: center;
        color: #0075b4;
}
p.help_tagline
{ text-align:center;
}
</style>
</head>
<body>
<img src="${static.url('images/banner_how_to_enroll.png')}" alt="image" style="width:100%;"/><br><br>
<section class="about container"style="padding-left:100px; padding-right:100px;" ><br>
<h2 class="new_font">Course enrollment and accessing content on NCERTX</h2><br>
<p class="big">After making successful payment of course fee, wait for the course 'invitaion' email from NCERTX. If not made the payment yet,  <a href="https://ncertx.in/pay_fee_online">click here</a>.</p><br>
<p style="margin-bottom: 0cm; line-height: 115%;">Check your email inbox-</p>
<ol>
<li style="margin-bottom: 0cm; line-height: 115%;">Those who have <strong>already registered</strong> at ncertx.in, will receive an email similar to the one shown below:</li>
</ol>
<p style="margin-left: 1.91cm; margin-bottom: 0cm; line-height: 115%;"><span style="color: #c00000;"><em>Note: If you have registered at ncertx.in but not yet activated your account, follow step 1.b. and activate it first</em></span></p>
<p style="margin-bottom: 0.35cm; line-height: 115%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a. If account is activated, click on the link (shown by red arrow in the below image)</p>
<img src="/asset-v1:All_published+All_published_101x+2017+type@asset+block@how_to_enroll_image001.png" style="border:2px solid deepskyblue"/><br><br><br>
<p style="margin-bottom: 0.35cm; line-height: 115%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b. To activate your account at ncertx.in, check your email and click on the link as shown below.</p>
<img src="/asset-v1:All_published+All_published_101x+2017+type@asset+block@how_to_enroll_image002.png" style="border:2px solid deepskyblue"/><br><br><br>
<p style="margin-bottom: 0.25cm; line-height: 115%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c. You will see the following screen. Now sign in using your email id and password to access the course.</p>
<p style="margin-left:3cm; margin-bottom: 0.35cm; line-height: 100%;"><em>Note: Course content will only be accessible from course start date.</em></p>
<img src="/asset-v1:All_published+All_published_101x+2017+type@asset+block@how_to_enroll_image003.png" style="border:2px solid deepskyblue"/><br><br><br>
<ol start="2">
<li style="margin-bottom: 0cm; line-height: 115%;">Those who have <strong>not yet registered</strong> on ncertx.in, will receive an email similar to one shown below:</li>
</ol>
<img src="/asset-v1:All_published+All_published_101x+2017+type@asset+block@how_to_enroll_image004.png" style="border:2px solid deepskyblue"/><br><br><br>
<p style="margin-bottom: 0.35cm; line-height: 115%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; a. Click on the link (shown by red arrow) and the following screen will appear.</p>
<p style="margin-bottom: 0.35cm; line-height: 115%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; b. Fill all the details, click on checkbox 'I agree…' and click on 'Create your account' </p>
<img src="/asset-v1:All_published+All_published_101x+2017+type@asset+block@how_to_enroll_image005.png" style="border:2px solid deepskyblue"/><br><br><br>
<p style="margin-bottom: 0.35cm; line-height: 115%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; c. An activation link will be sent to the mentioned email ID. Go to your email and click on the link sent</p>
<img src="/asset-v1:All_published+All_published_101x+2017+type@asset+block@how_to_enroll_image006.png" style="border:2px solid deepskyblue"/><br><br><br>
<p style="margin-bottom: 0.35cm; line-height: 115%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; d. Once you click on the link in your email, your account will get activated. Now click on 'dashboard' and access the course</p>
<p style="margin-left:3cm; margin-bottom: 0.35cm; line-height: 100%;"><em>Note: Course content will only be accessible from course start date.</em></p>
<img src="/asset-v1:All_published+All_published_101x+2017+type@asset+block@how_to_enroll_image007.png" style="border:2px solid deepskyblue"/><br><br><br>
<ol start="3">
<li style="margin-bottom: 0cm; line-height: 80%;">Click on the 'Course' tab to access the course as shown below.</li>
</ol>
<p style="margin-bottom: 0.35cm; line-height: 80%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; On left side pane, there are 6 sections (first and last ones are Warm-up Quiz and Final Exam respectively, and the remaining</p>
<p style="margin-bottom: 0.35cm; line-height: 80%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4 are course modules).</p>
<p style="margin-bottom: 0.35cm; line-height: 80%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Click on them to access the modules under each category.</p>
<p style="margin-bottom: 0.35cm; line-height: 80%;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <em>Note: Content of a module will be visible after it is open on a weekly basis.</em></p>
<img src="/asset-v1:All_published+All_published_101x+2017+type@asset+block@how_to_enroll_image008.png" style="border:2px solid deepskyblue"/><br><br><br><br>
<h2 class="new_font">Accessing other tabs</h2><br>
<p style="margin-bottom: 0cm; line-height: 80%;"><span style="font-size: medium;"><strong>Home Tab</strong></span></p>
<p class="big">Every time you view the course you are enrolled in, you land on <em>Home</em> tab. This tab contains <em>'Course Updates and News'</em> and <em>'Course Handouts'</em> about the course. You need to look at <em>Home</em> tab regularly for important announcements and updates about the course.</p><br>
<img src="/asset-v1:All_published+All_published_101x+2017+type@asset+block@how_to_enroll_image009.png" style="border:2px solid deepskyblue"/><br><br><br><br>
<p style="margin-bottom: 0cm; line-height: 80%;"><span style="font-size: medium;"><strong>Discussion Tab</strong></span></p>
<p class="big">Participants can discuss about their queries and ideas in the discussion forum. A discussion related to a particular module can be started in that module. Participants can read or write reviews (topic wise) and give feedback about the course content also.</p>
<p><em>Note: Kindly read <a href="/asset-v1:All_published+All_published_101x+2017+type@asset+block@forum_guidelines.pdf" target="_blank">Forum Guidelines</a> carefully before posting/commenting in Discussion forum.</em></p><br>
<img src="/asset-v1:All_published+All_published_101x+2017+type@asset+block@how_to_enroll_image011.png" style="border:2px solid deepskyblue"/><br><br><br><br>
<p style="margin-bottom: 0cm; line-height: 80%;"><span style="font-size: medium;"><strong>Progress Tab</strong></span></p>
<p class="big">This tab reflects the marks scored by the learner in End of module exams (40 Midterms) and the Final Exam (1 Final) in bar-graph representation. After giving a times exam, the learner can view his/her progress in the <em>Progress</em> tab.</p><br>
<img src="/asset-v1:All_published+All_published_101x+2017+type@asset+block@how_to_enroll_image010.png" style="border:2px solid deepskyblue"/><br><br><br><br>
<p style="margin-bottom: 0cm; line-height: 80%;"><span style="font-size: medium;"><strong>Calendar Tab</strong></span></p>
<p class="big">By clicking on the <em>Calendar</em>  tab, you can see the release date of each module as well as their exam start and end date (due date).</p><br>
<img src="/asset-v1:All_published+All_published_101x+2017+type@asset+block@how_to_enroll_image012.png" style="border:2px solid deepskyblue"/><br><br>
<p class="help_tagline"><a href="/about" target="_blank">Know more about the course</a> |&nbsp;<a href="/faq" target="_blank">Help</a>
</p>
</section>
</body>
</html>
