<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Privacy Policy")}</%block>

<%block name="content">
<style>
p.big {
    line-height: 150%;
    text-align: justify;
}
h2.new_font {
    font-family: "Open Sans", Verdana, Geneva, sans-serif, sans-serif;
    text-align: center;
    color: #0075b4;
}
</style>
<section class="container about" style="padding-left:100px; padding-right:100px;">
<br>
<h2 class="new_font">${_("PRIVACY POLICY")}</h2><br>
<p class="big">
    As a general rule, this website does not collect Personal Information about you when you visit the site. You can generally visit the site without revealing Personal Information, unless you choose to provide such information for enrollment in a course.<br><br>
    Privacy Policy covers all information we collect from you through our Site, including but not limited to personal Information, when you sign up for a user account, participate in online courses, register for the exam, send us email messages and/or participate in our public forums. Collection of certain usage information about student performance and patterns of learning might occur. This includes tracking information such as which pages of our Site were visited, the order in which they were visited, and when they were visited.<br><br>
    <b>Email and Contact number Management</b><br><br>
    Your email address and contact number will only be used to send a message. It will only be used for the purpose for which you have provided it and will not be added to a mailing list or SMS list. Your email address or contact number will not be used for any other purpose, and will not be disclosed, without your consent.
</p>
</section>
</%block>