<%namespace name='static' file='../static_content.html'/>
<%page expression_filter="h"/>
<%! from django.utils.translation import gettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Team")}</%block>

<html><head><title></title>
    <style>
    p.big {
        line-height: 150%;
        text-align: justify;	
    }
    h2.new_font
    {
        font-family: "Open Sans", Verdana, Geneva, sans-serif, sans-serif;
        text-align: center;
        color: #0075b4;
    }
    </style>
    </head>
    <body>
    <section class="container about" style="padding-left:100px; padding-right:100px;">
    <br><br>
    <!--<h2 class="new_font">Announcement for new batch coming soon.</h2>-->
   <h2 class="new_font">Team Data....</h2>
    </section>
    </body></html>  