<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<html><head><titele></title>
<style>
p.big {
    line-height: 150%;
    text-align: justify;	
}
h2.new_font
{
	font-family: "Open Sans", Verdana, Geneva, sans-serif, sans-serif;
	text-align: center;
	color: #0075b4;
}
</style>
</head>
<body>
<section class="container about" style="padding-left:100px; padding-right:100px;">
<br>
<h2 class="new_font">COPYRIGHT POLICY</h2>
<p class="big">All content or other materials available on the Sites, including but not limited to code, images, text, layouts, arrangements, displays, illustrations, audio and video clips, HTML files and other content,<b> except those open source materials or resources used under Creative Commons licenses </b>are the property of NCERTx or licensors and are protected by copyright. All rights in the Site and its content, if not expressly granted, are reserved by NCERTx.<br><br>
Videos have either been embedded through Youtube or Permitted (under CC or other licensed) videos from other sites (Vimeo, Youtube, etc.) have been used. Such third party sites may have mechanisms to display other video thumbnails after playing our chosen video. NCERT is not responsible for the content being shown through those video players after our chosen content video has been played.<br><br>
<b>Links to Other Websites</b><br><br>
The Sites may include hyperlinks to sites maintained or controlled by others. NCERTx do not routinely screen, approve, review or endorse the contents of or use of any of the products or services that may be offered at these sites. These other websites are not under our control, and you acknowledge and agree that NCERTx is not responsible for the collection and use of your information by such websites.<br><br>
Thus, NCERTx has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party websites. In addition, NCERT will not and cannot censor or edit the content of any third-party site. By visiting the Link, you expressly relieve NCERTx from any and all liability arising from your use of any third-party website.</p>
</section></body></html>





